APP_PORT=2002
APP_ENV=local

SECRET_KEY='django-insecure-5fo!2$erhlw(1=3$o-6!$#8r^65tr^8_*2e90kp^#d25n)@u=)'
DEBUG=True
ALLOWED_HOSTS="host.docker.internal"

DB_NAME=local_skolyn_crm
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

TIME_ZONE="UTC"

ACCESS_KEY="eyJpdsaddMMOO232usdjdjeHHHD323ASgsgiI6IjFQdEpTWHRybXM0YWlXSEJKeVBVOWc9PSIsInZhbHVlIjoiSURuOWM3VC90RzlEZzgxajFuV0R6Zz09IiwibWFjIjoiMzJhOTEzOGI3MDg4asdhaskd2323728372837hhsh2gdgfaosjmvoiu38iMMSHHDJS21212MmU2YjMxNjllMjA2OTE2OGE4MGQ0NWFlMzhmZjk0MDNmZjY0ZTU5OTgyMzliYmFlMWM2YiIsInRhZyI6IiJ9"