APP_PORT=9009
APP_ENV=development

SECRET_KEY='django-insecure-9m)xo4hqd#pem#+&3=)htxy270f0cs)fdut=ki=)b-400q^&k@9'
DEBUG=True
ALLOWED_HOSTS="host.docker.internal"

DB_NAME=services_crm
DB_USER=sk_dev_dba
DB_PASSWORD='@skDevDba!#123'
DB_HOST=3.6.2.87
DB_PORT=5432

TIME_ZONE="UTC"

ACCESS_KEY="eyJpdsaddMMOO232usdjdjeHHHD323ASgsgiI6IjFQdEpTWHRybXM0YWlXSEJKeVBVOWc9PSIsInZhbHVlIjoiSURuOWM3VC90RzlEZzgxajFuV0R6Zz09IiwibWFjIjoiMzJhOTEzOGI3MDg4asdhaskd2323728372837hhsh2gdgfaosjmvoiu38iMMSHHDJS21212MmU2YjMxNjllMjA2OTE2OGE4MGQ0NWFlMzhmZjk0MDNmZjY0ZTU5OTgyMzliYmFlMWM2YiIsInRhZyI6IiJ9"